/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --rows: 20;
  --columns: 15;
  --size: 25px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cera Round Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body,
html {
  font-family: "Cera Round Pro", sans-serif;
}

body {
  background: url(bg.jpg);
  background-size: cover;
  background-position: center;
}

.notification {
  margin-top: 2rem;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.container {
  background-size: cover;
}

.game {
  margin-left: auto;
  margin-right: auto;
  /* width: 389px;
  height: 529px; */
  width: calc(var(--size) * var(--columns) + var(--columns) * 1px - 1px);
  height: calc(var(--size) * var(--rows) + var(--rows) * 1px - 1px);
  margin-top: 45vh;
  transform: translateY(-50%);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.game .game__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #bad7e9;
  font-weight: 600;
}

.board {
  background-color: #2e3840;
  display: grid;
  /* 10 columns 25 rows */
  /* grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(25, 1fr); */
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 1px;
}

.box {
  display: inline-block;
  background: white;
  width: var(--size);
  height: var(--size);
}

.box--active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e76161;
  font-weight: 700;
  font-size: 2rem;
}

.box--activex {
  color: #e76161;
}

.box--activeo {
  color: #146c94;
  font-size: 1.7rem;
}

.box--prevx {
  background: #ccc;
  font-size: 1.7rem;
}

.box--prevo {
  background: #ccc;
  font-size: 1.7rem;
}

.box--win {
  color: #fc4f00;
}

.box--hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #e76161;
  font-size: 2rem;
}
